@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <ul class="nav nav-pills">
        <li><h4>Change Account Settings</h4></li>
        <li role="presentation"><a asp-controller="PaymentTypes" asp-action="Create">Add Payment Option</a></li>
        <li role="presentation"><a asp-controller="Orders" asp-action="Index">Order History</a></li>
        <li role="presentation"><a asp-controller="Products" asp-action="">My Products</a></li>
        <li role="presentation"><a href="#">Change Address</a></li>
        <li role="presentation">
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword">Change Password</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword">Create Password</a>
            }
        </li>
        <li role="presentation">
                @if (Model.PhoneNumber != null)
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber">Change Phone Number</a>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                        [<button type="submit" class="btn-link">Remove Phone Number</button>]
                    </form>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber">Add Phone Number</a>
                }
        </li>
    </ul>
    <hr />
    
</div>
<div>
    <h3>Your Recent Order</h3>
    <table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.RecentOrder.OrderProducts) {

        <tr>
            <td>@item.Product.Title</td>
            <td>@Model.RecentOrder.OrderProducts.Count(op=>op.ProductId == item.Product.ProductId)</td>
            <td>@item.Product.Price</td>
            <td>
                @if(Model.RecentOrder.PaymentTypeId == null)
                {
                <form asp-action="DeleteFromOrder" asp-controller="Order">
                    <input type="hidden" name="id" value="@Model.RecentOrder.OrderProducts.FirstOrDefault(op => op.ProductId == item.Product.ProductId).OrderProductsId">
                    <input type="submit" name="" value="Delete" class="btn btn-danger">
                </form>
                }
            </td>
        </tr>
    }
        <tr>
            <td>
                @if (Model.RecentOrder.PaymentTypeId == null)
                {
                <a asp-action="Complete" asp-controller="Order" asp-route-id="@Model.RecentOrder.OrderId">Complete Order</a>
                }
                else 
                {
                    <strong>Completed</strong>
                }
            </td>
            <td><strong>Total:</strong></td>
            <td>@Model.RecentOrder.OrderProducts.Select(op => op.Product.Price).Sum()</td>
        </tr>

    </tbody>
</table>
</div>
