@model IEnumerable<Bangazon.Models.PaymentType>

@{
    ViewData["Title"] = "Payment Options";
}

<h2>Your Payment Options</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentTypeId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
