@model Bangazon.Models.ProductViewModels.ProductCreateViewModel

@{
    ViewData["Title"] = "Sell your stuff";
}

<h2 class="top-buffer">@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Product.Title)
                <input asp-for="@Model.Product.Title" class="form-control" />
                <span asp-validation-for="@Model.Product.Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Product.Description)
                <input asp-for="@Model.Product.Description" class="form-control" />
                <span asp-validation-for="@Model.Product.Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Product.Price)
                <input asp-for="@Model.Product.Price" class="form-control" />
                <span asp-validation-for="@Model.Product.Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Local Delivery Available?</label>
                <input asp-for="@Model.Product.LocalDelivery" class="checkbox" type="checkbox" />
                <div class="location">
                    <label for="Product.Location">Location Area</label>
                    <input asp-for="@Model.Product.Location" class="form-control"/>
                </div>
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Product.ProductTypeId)
                @Html.DropDownList(
                    "Product.ProductTypeId", 
                    @Model.ProductTypeId, 
                    new {
                        @name="Product.ProductTypeId"
                    }
                )
                <span asp-validation-for="@Model.Product.ProductTypeId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts
{
<script type="text/javascript">
    $(".location").hide();
    $(".checkbox").click(function (e) {
        if($(this).prop("checked")){
            $(".location").show();
        } else {
            $(".location").hide();
        }
    }); 
</script>
}